#wrap {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

#profile {
    height: 300px;
}

#education li {
    text-align: center;
}

#profile_text {
    padding-top: 3%;
}


#profile_text li:nth-child(1) {
    font-weight: 800;
    margin-bottom: 10px;
}

#profile_talk li {
    list-style: circle;
    padding: 20px 0px 0px 20px;
}

#profile_talk{
    margin-left: 40px;
    margin-top: 40px;
}


h1 {
    border-bottom: 1px solid #eceeef;
    width: 60%
}

.content_center {
    padding: 20px 20px;
}

img {
    float: left;
    width: 150px;
    margin-right: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

.line {
    margin-bottom: 5px;
    width: 40px;
    height: 3px;
    background-color: #666;
}

h3 {
    margin: 0px;
}

.edu_list {
    background-color: #d9d9d9;
    padding: 20px;
    margin: 20px;
}

/*        타임라인*/

.divleft2 {
    float: left;

}

* {
    box-sizing: border-box;
}

#divleft {
    float: left;
    width: 50%;
}

#divright {
    float: left;
    width: 50%;
}

#divleft,
#divright {
    min-width: 300px;
    /*            position: absolute;*/
}

.timeline {
    position: relative;
    max-width: 1200px;
    /*            width: 300px;*/
    margin: 0 auto;
    margin-top: 40px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #d9d9d9;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.cont_b {
    width: 5px;
    height: 5px;
    background-color: #4766a2;
    position: absolute;
}

.cont_b.a {
    right: 10px;
}

.cont_b.r {
    left: 10px;
}

.container_ {
    padding: 10px 20px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.left {
    left: 0;
    /*    margin: 10%;*/
    margin-right: 50%;
}

.right {
    left: 50%;
    margin: 0px;
}

.right::after {
    left: 0px;
}

.content {
    padding: 20px 30px;
    background-color: #f0f0f0;
    position: relative;
}

.container_ h2 {
    font-weight: 600;
    font-size: 18px;
    color: #2c2c2c;
    line-height: 40px;
}

.container_ p {
    font-weight: 400;
    font-size: 16px;
    color: #222;
    line-height: 30px;
}

.content {
    padding-right: 10px
}

@media(max-width: 800px) {
    /*#profile_text li {
        padding: 0px;

    }*/

    #profile_text {
        margin-top: 200px;
    }

    #profile_talk li{
        padding-left: 0px;
        padding-top: 0px;
        margin-bottom: 5px
    }

    #divright {
        margin-top: 450px;
    }

    #profile_talk {
        margin-left: 0px;
    }

    .timeline::after {
        left: 0px;
    }

    .container_ {
        width: 100%;
        padding: 5px 0px;
    }

    .container_::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .cont_b {
        display: none;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 0px;
        background-color: #d9d9d9;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: 0;
    }
}
