#map {
    height: 570px;
    width: 100%;
}

#menu {
    height: 110px;
    position: relative;
    margin-bottom: 5%;
}

#wrapper {
    width: 90%;
    padding: 5%;
    padding-top: 0;
}

#left {
    float: left;
    width: 55%;
    height: 90%;
    background-color: whitesmoke;
    padding: 3%;
    margin-left: 5%;
}

#budgetvalue {
    display: inline-block;
    width: 50px;
}

#deadlinevalue {
    display: inline-block;
    width: 50px;
}

#right {
    float: right;
    width: 35%;
    height: 90%;
}

#name {
    width: 50%;
}

#phone {
    width: 50%;
}

#email {
    width: 75%;
}

#website {
    width: 75%;
}

#message {
    width: 75%;
}

#budget {
    width: 67.5%;
}

#deadline {
    width: 67.5%
}

.navul {
    list-style: none;
}

.navul li {
    display: inline;
}

.navul a img {
    width: 16%;
    height: 16%;
    margin-left: 3%;
    margin-right: 3%;
}

@media(max-width: 800px) {
    #wrapper {
        margin: 0 auto;
    }

    #left {
        clear: both;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #right {
        clear: both;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #map {
        height: 300px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}
