/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 300px;
    width: 100%;
}

#menu {
    height: 110px;
}

#wrapper {
    width: 90%;
    height: 90%;
    padding: 5%;
}

#left {
    float: left;
    width: 55%;
    height: 90%;
    background-color: whitesmoke;
    padding: 3%;
    margin: auto;
}

#right {
    float: right;
    width: 35%;
    height: 90%;
}

#name {
    width: 50%;
}

#phone {
    width: 50%;
}

#email {
    width: 75%;
}

#website {
    width: 75%;
}

#message {
    width: 75%;
}

#budget {
    width: 75%;
}

#deadline {
    width: 75%
}

.navul {
    list-style: none;
}

.navul a img {
    width: 16%;
    height: 16%;
    margin: 10%
}
