.dropdown:hover .dropdown-menu{
    display: block;
}
.navbar-light .navbar-nav .nav-link {
    color: #1a1a1a;
}
#navbarResponsive > ul {
    margin: 0 auto;
}

.nav-item{
    display: inline-block;
    padding-top: 0.3359375rem;
    padding-bottom: 0.3359375rem;
    margin-right: 1rem;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
}
