#wrap {
    width: 100%;
    height: 810px;
}

#portwrap {
    padding: 0 10%;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

#portwrap img {
    width: 30%;
    height: 50%;
    margin: 10px;
}

#portmiddle {
    padding: 3%;
    margin-top: 10px;
}

.skillGraphTitle {
    padding-bottom: 10px;
    border-bottom: 1px solid #eceeef;
    width: 40%;
}


#h3wrap {
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0 10%;
}
#h3wrap h3 {
    border-top: 1px solid #eceeef;
    padding-top: 10px;
    text-align: center;
    float: left;
    width: 30%;
    margin: 0 0.7%;
}

#pwrap {
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0 10%;
}
#pwrap p {
    padding-top: 10px;
    text-align: center;
    float: left;
    width: 30%;
    margin: 0 0.7%;
}















@media(max-width: 1200px) {
    #wrap {
        width: 100%;
        height: 810px;
    }

    #portwrap {
        padding: 0;
        width: 100%;
        display: inline-block;
    }

    #portwrap img {
        width: 30%;
        height: 50%;
        margin: 10px;
    }

    #portmiddle {
        padding: 30px;
        margin-top: 10px;
    }

    .skillGraphTitle {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eceeef;
        width: 40%;
    }

#h3wrap {
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0;
}
#h3wrap h3 {
    border-top: 1px solid #eceeef;
    padding-top: 10px;
    text-align: center;
    float: left;
    width: 30%;
    margin: 0 1.2%;
}

#pwrap {
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0;
}
#pwrap p {
    padding-top: 10px;
    text-align: center;
    float: left;
    width: 30%;
    margin: 0 1.3%;
}




}

@media(max-width: 800px) {
    #wrap {
        width: 100%;
        height: 810px;
    }

    #portwrap {
        padding: 10px;
        width: 100%;
        display: inline-block;
    }

    #portwrap img {
        width: 100%;
        height: 50%;
        margin: 10px;
    }

    #portmiddle {
        padding: 30px;
        margin-top: 10px;
    }

    .skillGraphTitle {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eceeef;
        width: 60%;
    }

#h3wrap {
    width: 100%;
    height: 300px;
    display: inline-block;
    padding: 0;
}
#h3wrap h3 {
    border-top: 1px solid #eceeef;
    padding-top: 10px;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0;
}
#pwrap p {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0;
}



}
