#wrap {
    width: 100%; height: 810px;
}
#icon {
    padding: 5%;
    float: left;
    width: 55%;
    height: 100%;
}
#icon div{
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 250px;
    float: left;
}
#icon img{
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 150px;
}
#icon p{
    width: 150px;
    height: 70px;
}
#graph {
    padding: 5%;
    float: right;
    width: 45%;
    height: 100%;
}
.skillGraphTitle {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceeef;
}
.skillGraphSubTitle {
    margin: 10px;
}
.graphleft {
    float: left;
}
.graphright div.progress {
    position: relative;
    top: 10px;
    margin: 18px;
}
@media(max-width: 480) {

}
